# Extracción (E - Extract)

In [2]:
import pandas as pd
 
datos = pd.read_json('https://raw.githubusercontent.com/ingridcristh/challenge2-data-science-LATAM/refs/heads/main/TelecomX_Data.json')
datos.sample(3)

,customerID,Churn,customer,phone,internet,account
1309,1891-FZYSA,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
6928,9546-CQJSU,Yes,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3475,4813-HQMGZ,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

# Transformación (Transform - T)

## Normalizando los datos

Las columnas customer, phone, internet, account tienen diccionarios. Se procede a descubrir que informacion posee cada una

### Normalizando **customer**

In [5]:
customer = pd.json_normalize(datos['customer'])
customer.sample(3)

      gender  SeniorCitizen Partner Dependents  tenure
15    Female              0     Yes        Yes      71
2953    Male              0      No         No      62
2351  Female              0      No         No       2

### Normalizando **phone**

In [6]:
phone = pd.json_normalize(datos['phone'])
phone.sample(3)

     PhoneService     MultipleLines
366            No  No phone service
7061          Yes                No
6374          Yes               Yes

### Normalizando **internet**

In [7]:
internet = pd.json_normalize(datos['internet'])
internet.sample(3)

,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
5393,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service
3296,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service
4059,Fiber optic,No,No,Yes,No,No,No

### Normalizando **account**

In [8]:
account = pd.json_normalize(datos['account'])
account.sample(3)

,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
6543,Month-to-month,Yes,Electronic check,50.35,50.35
280,Month-to-month,Yes,Electronic check,74.40,229.55
627,One year,Yes,Bank transfer (automatic),64.90,1509.8

#### Uniendo las tablas
Se unen las tablas normalizadas a una nueva unificada llamada datos_normalizado

In [10]:
datos_normalizado = pd.concat(
    [
        datos.drop(columns=['customer', 'phone', 'internet', 'account']),
        customer, phone, internet, account
    ],
    axis=1
)
datos_normalizado.sample(3)

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
2942,4086-ATNFV,No,Female,0,Yes,Yes,34,Yes,No,DSL,...,Yes,Yes,No,No,No,One year,Yes,Mailed check,60.8,2042.05
950,1337-BOZWO,No,Male,0,Yes,Yes,18,No,No phone service,DSL,...,Yes,Yes,No,Yes,No,One year,No,Credit card (automatic),46.4,812.4
4135,5668-MEISB,No,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,...,Yes,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),106.1,7657.4

## Conociendo el conjunto de datos

### dtypes

In [11]:
datos_normalizado.dtypes

customerID           object
Churn                object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
Charges.Monthly     float64
Charges.Total        object
dtype: object

### info()

In [12]:
datos_normalizado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [20]:
# Ver los valores problemáticos
invalidos = datos_normalizado[
    pd.to_numeric(datos_normalizado['Charges.Total'], errors='coerce').isnull()
]

invalidos[['Charges.Total']]

     Charges.Total
975
1775
1955
2075
2232
2308
2930
3134
3203
4169
5599