# Extracción (E - Extract)

In [79]:
import pandas as pd
 
datos = pd.read_json('https://raw.githubusercontent.com/ingridcristh/challenge2-data-science-LATAM/refs/heads/main/TelecomX_Data.json')
datos.sample(3)

,customerID,Churn,customer,phone,internet,account
5901,8063-RJYNF,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4436,6080-LNESI,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'No', 'OnlineSecurity': 'N...","{'Contract': 'Two year', 'PaperlessBilling': '..."
5875,8034-RYTVV,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'One year', 'PaperlessBilling': '..."

# Transformación (Transform - T)

## Normalizando los datos

Las columnas customer, phone, internet, account tienen diccionarios. Se procede a descubrir que informacion posee cada una

### Normalizando **customer**

In [80]:
customer = pd.json_normalize(datos['customer'])
customer.sample(10)

      gender  SeniorCitizen Partner Dependents  tenure
6757    Male              0      No         No      11
3901    Male              1      No         No      72
2460    Male              0      No         No      60
1429  Female              1     Yes         No      55
5092    Male              1     Yes         No      46
1094  Female              0      No         No      31
6951    Male              0     Yes        Yes      30
1095  Female              0     Yes         No      32
2829    Male              0      No         No       1
4939    Male              0      No         No      44

### Normalizando **phone**

In [81]:
phone = pd.json_normalize(datos['phone'])
phone.sample(10)

     PhoneService     MultipleLines
4704          Yes                No
4115          Yes               Yes
4346          Yes               Yes
1691          Yes                No
2239          Yes               Yes
5832          Yes                No
1730           No  No phone service
2339          Yes               Yes
453           Yes                No
5570           No  No phone service

### Normalizando **internet**

In [82]:
internet = pd.json_normalize(datos['internet'])
internet.sample(10)

,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
3521,Fiber optic,Yes,No,No,No,No,Yes
6905,DSL,Yes,No,Yes,Yes,Yes,Yes
6409,Fiber optic,No,Yes,Yes,Yes,Yes,Yes
7161,Fiber optic,No,Yes,No,No,No,No
1586,Fiber optic,No,Yes,No,No,No,No
5987,Fiber optic,No,No,No,No,No,Yes
4600,DSL,No,Yes,No,No,No,No
5048,Fiber optic,No,No,No,No,Yes,Yes
256,Fiber optic,Yes,Yes,Yes,Yes,Yes,Yes
5972,DSL,No,Yes,Yes,No,Yes,Yes

### Normalizando **account**

In [83]:
account = pd.json_normalize(datos['account'])
account.sample(10)

,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
2017,Two year,No,Credit card (automatic),19.40,1363.25
6749,Month-to-month,Yes,Electronic check,79.95,79.95
2172,Month-to-month,No,Bank transfer (automatic),19.90,601.55
2097,Two year,Yes,Credit card (automatic),64.15,4254.1
6951,Month-to-month,Yes,Electronic check,94.40,2838.7
1931,Two year,No,Credit card (automatic),19.80,641.35
2970,One year,Yes,Credit card (automatic),24.50,1497.9
2224,Month-to-month,Yes,Credit card (automatic),49.05,91.1
819,Month-to-month,Yes,Credit card (automatic),74.55,3023.55
4597,Month-to-month,No,Electronic check,93.35,5386.5

#### Uniendo las tablas
Se unen las tablas normalizadas a una nueva unificada llamada datos_normalizado

In [84]:
datos_normalizado = pd.concat(
    [
        datos.drop(columns=['customer', 'phone', 'internet', 'account']),
        customer, phone, internet, account
    ],
    axis=1
)
datos_normalizado.sample(3)

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
6812,9391-YZEJW,No,Female,0,No,No,62,Yes,Yes,Fiber optic,...,No,No,No,Yes,Yes,One year,Yes,Bank transfer (automatic),94.00,5757.2
5261,7176-WIONM,No,Female,0,Yes,No,12,No,No phone service,DSL,...,No,Yes,No,Yes,Yes,Month-to-month,Yes,Bank transfer (automatic),49.85,617.15
3113,4335-BSMJS,No,Female,0,No,No,62,Yes,Yes,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Credit card (automatic),25.80,1563.95

## Conociendo el conjunto de datos

### dtypes

In [85]:
datos_normalizado.dtypes

customerID           object
Churn                object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
Charges.Monthly     float64
Charges.Total        object
dtype: object

Se puede comprobar que hay consistencia del tipo de datos con la descripción de la columna, a excepción de Charges.Total, donde deberia de se float.64.

### info()

In [86]:
datos_normalizado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

Se comprueba que no hay valores nulos en ninguna columna

#### Transformando columna Charges.Total

In [121]:
# Ver los valores problemáticos
invalidos = datos_normalizado[
    pd.to_numeric(datos_normalizado['Charges.Total'], errors='coerce').isnull()
]

invalidos['Charges.Total']

975
1775
1955
2075
2232
2308
2930
3134
3203
4169
5599
Name: Charges.Total, dtype: object

In [110]:
# Detecta valores no convertibles a número (NaN tras coerce)
mask_error = pd.to_numeric(datos_normalizado['Charges.Total'], errors='coerce').isnull()

# Filtra todas las filas con error en Charges.Total
filas_con_error = datos_normalizado[mask_error]

# Muestra el DataFrame filtrado
filas_con_error

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
975,1371-DWPAZ,No,Female,0,Yes,Yes,0,no,No phone service,dsl,...,yes,yes,yes,yes,no,Two year,No,Credit card (automatic),56.05,
1775,2520-SGTTA,No,Female,0,Yes,Yes,0,yes,No,no,...,no internet service,no internet service,no internet service,no internet service,no internet service,Two year,No,Mailed check,20.00,
1955,2775-SEFEE,No,Male,0,No,Yes,0,yes,Yes,dsl,...,yes,no,yes,no,no,Two year,Yes,Bank transfer (automatic),61.90,
2075,2923-ARZLG,No,Male,0,Yes,Yes,0,yes,No,no,...,no internet service,no internet service,no internet service,no internet service,no internet service,One year,Yes,Mailed check,19.70,
2232,3115-CZMZD,No,Male,0,No,Yes,0,yes,No,no,...,no internet service,no internet service,no internet service,no internet service,no internet service,Two year,No,Mailed check,20.25,
2308,3213-VVOLG,No,Male,0,Yes,Yes,0,yes,Yes,no,...,no internet service,no internet service,no internet service,no internet service,no internet service,Two year,No,Mailed check,25.35,
2930,4075-WKNIU,No,Female,0,Yes,Yes,0,yes,Yes,dsl,...,yes,yes,yes,yes,no,Two year,No,Mailed check,73.35,
3134,4367-NUYAO,No,Male,0,Yes,Yes,0,yes,Yes,no,...,no internet service,no internet service,no internet service,no internet service,no internet service,Two year,No,Mailed check,25.75,
3203,4472-LVYGI,No,Female,0,Yes,Yes,0,no,No phone service,dsl,...,no,yes,yes,yes,no,Two year,Yes,Bank transfer (automatic),52.55,
4169,5709-LVOEQ,No,Female,0,Yes,Yes,0,yes,No,dsl,...,yes,yes,no,yes,yes,Two year,No,Mailed check,80.85,
5599,7644-OMVMY,No,Male,0,Yes,Yes,0,yes,No,no,...,no internet service,no internet service,no internet service,no internet service,no internet service,Two year,No,Mailed check,19.85,

In [120]:
# Obtiene el nombre de la columna con índice 1
columna_objetivo = datos_normalizado.columns[0]

# Filtra las filas donde el valor de esa columna está duplicado
duplicados = datos_normalizado[datos_normalizado.duplicated(subset=columna_objetivo, keep=False)]

# Muestra los duplicados encontrados
duplicados[columna_objetivo]

Series([], Name: customerID, dtype: object)

In [ ]:
# Mostrar todos los valores problemáticos en Charges.Total, incluyendo los vacíos y los que no se pueden convertir a numérico
mask_invalidos = pd.to_numeric(datos_normalizado['Charges.Total'], errors='coerce').isnull()
valores_invalidos = datos_normalizado.loc[mask_invalidos, 'Charges.Total']
print('Valores problemáticos en Charges.Total:')
display(valores_invalidos.value_counts(dropna=False))
valores_invalidos